
  a{
	display:grid;
	height:50px;
	width:300px;
	background:blue;
	position:center;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	place-items:center;
	font-family:"poppins", sans-serif;
	color:white;
	font-size:20;
	font-weight:500;
	text-decoration:none;
	letter-spacing:1px;
	border-radius:5px;
	}
  